.top-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.dumbbell-icon {
    width: 55px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 5px 5px rgb(217, 205, 205);
    width: 500px;
    margin-left: 600px;
    margin-top: 100px;
    padding: 10px;
    font-size: larger;
}

.register-form label {
    font-size: larger;
}

.register-form input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(193, 190, 190);
    font: bold;
    font-size: larger;
}

.register-form input:focus {
    background-color: rgb(230, 218, 218);
}

.register-form button {
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    background: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px;
    font-size: larger;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.register-form button:hover {
    /* background: white;
    color: black;
    border: 1px solid black;
    */
    cursor: pointer; 
    transform: translateY(-5px);
}