body {
    font-family: sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px rgb(211,211,211);
    width: 100vw;
}

.top-bar h1 {
    margin-left: 20px;
}

.top-bar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 20px;
}

.link-design {
    text-decoration: none;
    color: black;
}

.link-design:hover {
    color: #4CAF50;
}