.trainers-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    margin-top: 50px;
}

.trainers-list li {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    box-shadow: 8px 8px rgb(65, 65, 65);
    background-color: white;
}


.trainers-list li .request-workout {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}