.create-workout-button {
    margin-top: 100px;
    margin-left: 800px;
}

.create-workout-button button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: larger;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.create-workout-button button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}