body {
    background-color: rgb(245, 245, 230);
    width: 100vw;
    height: 100vh;
}

.create-workout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.create-workout-button button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: larger;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.create-workout-button button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.workouts-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.workout-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    box-shadow: 8px 8px rgb(65, 65, 65);
    background-color: white;
}

.exercise-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    gap: 10px;
    margin-right: 30px;
}

.select-workout-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    transition: transform 0.3s ease-in-out;
}

.select-workout-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}